/* common 3 */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 40px;
}
.flexible{
    display: flex;
}
img{
    width: 50%;
    padding: 30px;
}
.color1{
    color: #e77f67;
    font-size: 45px;
}
.half-width{
    width: 50%;
    padding: 50px;
}
.link-border{
    text-decoration: none;
    background-color: #3dc1d3;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    border-radius: 20px;
}

/* section 1 */

.Stay{
    border-left: 7px solid;
    border-color: #3dc1d3;
    border-radius: 5px;
    border-spacing: 15px;
}
}

/* section 2 */
.title{
    text-align: center;
}
.box{
    width: 70%;
    margin-left: 3%;
    margin-right: 5%;
    padding: 50px;
    border-radius: 20px;
    
}
.box1{
    background: #dff9fb;
}
.box2{
    background: #c7ecee;
}
.box3{
    background: #95afc0;
}

/* section 3 */

.section3img{
    width: 80%;
    padding:50px;
}
.Develop{
    background-image: url(image/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20%;
    margin-right: 50px;
}
.Develop-withoutlimits{
    width: 50%;
    padding: 5px;
    
    
}


/* section 4 */

.Community{
    background-image: url(image/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20%;
    margin-right: 0%;
}
.section4img{
    width: 80%;
    padding: 30px;
    margin-right: 0%;
}



.section5img{
    width: 80%;
    padding: 20px;
    margin-right: 0%;
}


/* section 6 */

.footerfont{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}
.footertitle{
    color: white;
    text-align: center;
}
.footer{
    background-color: black;
    padding: 10px 20px;
}
.color2{
    color:#3dc1d3;
}

